.container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 8px;
    height: 85px;
}
.orderAndFilter{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navbarContainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.orderContainer, .orderFilter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}
.rightButtons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.searchInput {
  margin-right: 10px;
}