.containerButton{
    margin: auto
}

button {
    background-color: #89D99D;
    color: #fff; /* Color del texto */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Estilo cuando el mouse pasa sobre el botón (hover) */
  button:hover {
    background-color: #1E5959;
  }
  
  /* Estilo cuando el botón obtiene el foco (focus) */
  button:focus {
    background-color: #3B8C6E;
    outline: none; /* Elimina el borde de enfoque predeterminado */
  }