.card {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #FFFF;
    width: 200px;
    height: 300px;
    border-radius: 8px;
    background-color: #FFFF;

}
.card a {
    color: #9496A1
}
.card a h2 {
    color: #404252
}
.cardElements{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100%;
    justify-content: center;
}
.cardChildElements{
    width: 100%;
}
.cardImage {
    width: 120px;
    height: 75px;
}
