.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardForm {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
        min-width: 350px;
        min-height: 650px;
        border-radius: 8px;
        margin: auto;
        background-color: #FFFF;
}
input, button, select {
    background-color: #F3F4F8;
}
.danger {
    color: red;
    margin: 0;
}
.success {
    border: 1px solid green
}
.error {
    border: 1px solid red
}