.container {
    background-color: #EBF1FA;
    border-radius: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.pagination button {
    font-size: 0.8em;
}
.message {
    margin: auto
}
.activePage {
    background-color: #c52121;
    color: #fff;
    border: 1px solid #c52121;
  }